
body > header {
    background-color: rgb(118, 99, 210);
    padding: 16px 0;
    
}

header .container {
    display: flex;
}

header li {
    display: inline;
    font-weight: bold;
}

header li a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
    /***justify-content: space-between;***/
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.articles article img {
    /***height: 180px;
    position: fl;
    ***/
    width: 220px;
    height: 180px;
    position: flex;;
    margin: 40px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;

}

section .articles article {
    margin-bottom: 16px;
    font-size: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    background-color: rgb(71, 71, 134);
    color: white;
    padding: 8px;
    display: inline-block;/***para não sobre por***/
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}


.articles article {
    font-size: 24px;
}

section {
    font-size: 32px;
}

#sports {
    background-color: aliceblue;
}

#sports .articles article a {
    background-color: aliceblue;
}

#economy {
    background-color: aliceblue;
}

#economy {
    background-color: aliceblue;
}

.container {
    background-color: white;
    
}   

* {
    justify-content: center;
    justify-items: center;
}

h2 h3 h1 {
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

h5 {
    justify-content: center;
    display: flex;
    justify-items: center;
    font-size: 50px;
    margin: 5px auto; 
}
